* {
  margin: 0;
  font-family: Calibri, "Trebuchet MS", sans-serif, Helvetica, sans-serif;
}

.navbar {
  color: white;
  padding-left: 100px;
  padding-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #d01a1d;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

select {
  border-radius: 10px;
  width: 10em;
  height: 2em;
  border: solid grey 1px;
  text-align: center;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.search-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 10px;
  padding: 8px;
  background-color: rgba(0, 255, 34, 0.705);
  color: white;
}

.all {
  color: white;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.all:hover {
  border-bottom: white solid 2px;
}

.allDiv {
  padding-top: 20px;
  margin: 3px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.search-btn:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
}

.search-btn:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.navbar a:hover {
  border-bottom: solid white 2px;
}

.title {
  margin: 0;
}

.links {
  position: absolute;
  right: 100px;
}

.link {
  margin-left: 20px;
  margin-right: 20px;
}

.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  color: white;
  background-color: #d33a3d;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-content: center;
  border-radius: 20px;
}

.title-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
}

.drop-menus {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.drop-menus > * {
  margin-left: 10px;
  margin-right: 10px;
}

.drop-menu-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#just-line-break {
  white-space: pre-line;
}

#line-break-and-tab {
  white-space: pre-wrap;
}

.listing-container {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.listing {
  background-color: white;
  text-decoration: none;
  color: black;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 31%;
  margin: 2px;
  border-radius: 20px;
  border: solid grey 1px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: 20px;
  margin-bottom: 20px;
}

.listing:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.listing:active {
  -webkit-box-shadow: 0px 0px 5px;
          box-shadow: 0px 0px 5px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

img,
object {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-size: cover;
  width: auto;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
}

.listing-img {
  width: 100%;
}

.listing:hover {
  -webkit-box-shadow: darkblue;
          box-shadow: darkblue;
  background-color: darkblues;
}

.listing-disc {
  padding: 20px;
}

@media (max-width: 1630px) {
  .listing-container {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 100px;
  }
}
/*# sourceMappingURL=index.css.map */