* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  color: white;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  background-color: #d01a1d;
  flex-direction: row;
  align-items: center;
  height: 60px;
  width: 100%;
}

.links {
  position: absolute;
  right: 100px;
}

.link {
  margin-left: 20px;
  margin-right: 20px;
}
.title-search {
  display: flex;
  align-self: center;
  justify-self: center;
}
.title {
  left: 40px;
}

.navbar a {
  color: white;
  text-decoration: none;
}
.navbar a:hover {
  //color: black;
  //text-decoration: underline;
  border-bottom: solid white 2px;
}

body {
  /*height:100vh;
    width:100vh;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Listing-info {
  margin-top: 100px;
  margin-bottom: 100px;
  color: white;
  height: 50%;
  width: 50%;
  background-color: #d33a3d;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

#Listing-info > * {
  margin: 10px;
  padding: 10px;
  border-radius: 1px;
  border: none;
  //width: 40%;
}
.gg {
  margin: 0px;
  padding: 10px;
}

input::placeholder {
  //text-align: center;
}
input {
  //text-align: center;
}
textarea {
  width: 80%;
  min-height: 40px;
  resize: vertical;
}
textarea::placeholder {
  text-align: center;
}
.drops {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.drops > * {
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  flex-wrap: wrap;
  align-self: center;
  justify-self: center;
  //width: 100%;
}
select {
  flex-wrap: wrap;
  text-align: center;
  border-radius: 5px;
  overflow: auto;
}
